*.iml
*.jks
.gradle
/local.properties
/.idea/*
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
/app/release
.externalNativeBuild
.cxx
google-services.json

# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

.android*

app/build*
app/debug*
app/release*

# Added by cargo

/occasion-android/target

result*
